In [1]:

import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as mplt
import numpy as np
import csv
import pandas as pd

In [3]:
df =  pd.read_csv("00_all_ClimateIndices_and_precip.csv")

In [7]:

# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

# Drop features 
df.drop(to_drop, axis=1, inplace=True)

display(df)

C:\Users\Kraab\AppData\Local\Temp\ipykernel_6600\1693179693.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr().abs()

,date,CAR_ersst,NTA_ersst,aao,ammsst,amon_sm,amon_us,ao,atltri,brazilrain,...,soi,solar,swmonsoon,tna,tni,trend,tsa,whwp,wp,precipitation
0,1948-01-01,NaN,NaN,NaN,0.66,0.101,-0.021,NaN,0.249,-92.0,...,NaN,1557.0,0.38,0.16,0.454,1.0,-0.22,-0.17,NaN,108.1699
1,1948-02-01,NaN,NaN,NaN,0.00,0.102,-0.033,NaN,-0.068,-80.0,...,NaN,1343.0,1.60,-0.01,0.047,2.0,-0.12,-0.18,NaN,52.6629
2,1948-03-01,NaN,NaN,NaN,1.00,0.102,0.023,NaN,0.204,99.0,...,NaN,1355.0,1.12,0.25,-0.135,3.0,0.04,0.26,NaN,150.4337
3,1948-04-01,NaN,NaN,NaN,1.86,0.106,-0.075,NaN,-0.371,-46.0,...,NaN,2081.0,0.26,-0.13,-0.469,4.0,-0.21,-0.03,NaN,222.6304
4,1948-05-01,NaN,NaN,NaN,1.30,0.110,-0.009,NaN,-0.585,-9.0,...,NaN,2265.0,0.86,-0.07,-0.950,5.0,-0.40,-0.46,NaN,72.5689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,2020-08-01,NaN,NaN,-0.720,0.29,NaN,0.428,-0.381,NaN,NaN,...,1.8,717.0,NaN,0.59,-1.586,NaN,0.50,5.79,-0.21,3.2309
872,2020-09-01,NaN,NaN,0.194,1.90,NaN,0.299,0.631,NaN,NaN,...,1.5,706.0,NaN,0.52,-1.090,NaN,0.24,3.53,-2.44,0.1364
873,2020-10-01,NaN,NaN,1.264,3.77,NaN,0.291,-0.072,NaN,NaN,...,0.8,746.0,NaN,0.61,-0.441,NaN,0.39,4.49,-1.18,0.8095
874,2020-11-01,NaN,NaN,0.813,2.92,NaN,0.115,2.086,NaN,NaN,...,1.1,901.0,NaN,0.39,0.165,NaN,0.12,2.34,0.72,55.8867
875,2020-12-01,NaN,NaN,1.481,3.60,NaN,0.165,-1.736,NaN,NaN,...,3.0,873.0,NaN,0.46,0.571,NaN,-0.11,0.15,0.99,73.7052

In [13]:
limitPer = len(df) * .05
df = df.dropna(thresh=limitPer)

display(df)

Empty DataFrame
Columns: [date, CAR_ersst, NTA_ersst, ammsst, amon_sm, amon_us, ao, atltri, brazilrain, censo, ea, eofpac, epo, gmsst, hurr, indiamon, ipotpi_hadisst2, jonesnao, nao, nina1_anom, nina34_anom, nina3_anom, nina4_anom, noi, np, pdo, pna, qbo, sahelrain, soi, solar, swmonsoon, tna, tni, trend, tsa, whwp, wp, precipitation]
Index: []

[0 rows x 39 columns]